@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url(./root.css);


.max-w-1177 {
    max-width: 1177px !important;
}

.max-w-1138 {
    max-width: 1138px !important;
}

.max-w-1090 {
    max-width: 1090px;
}

.max-w-1100 {
    max-width: 1100px;
}

.w-48 {
    width: 48px;
}

.max-w-795 {
    max-width: 795px;
}

.max-w-1409 {
    max-width: 1409px !important;
}

.mx-w-277 {
    max-width: 277px;
}

.nav-shadow {
    box-shadow: 0px 4px 8px 0px var(--shadow) !important;
}

.fw-300 {
    font-weight: 300;
}

.lh-20 {
    line-height: 20.11px;
}

.lh-21 {
    line-height: 21px;
}

.lh-27 {
    line-height: 27px;
}

.lh-40 {
    line-height: 40px;
}

.lh-44 {
    line-height: 44px;
}

.lh-61 {
    line-height: 61.59px;
}

.lh-80 {
    line-height: 80px;
}

.lh-100 {
    line-height: 100.56px;
}

.gap-14 {
    gap: 14px;
}

.gap-24 {
    gap: 24px;
}

.gap-38 {
    gap: 38px;
}

.gap-74 {
    gap: 74px;
}

.py-16 {
    padding-top: 16px;
    padding-bottom: 15px;
}

.pl-26 {
    padding-left: 26px;
}

.pb-60 {
    padding-bottom: 60px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-48 {
    margin-top: 48px;
}

.mt-39 {
    margin-top: 39px;
}

.mt-57 {
    margin-top: 57px;
}

.mt-139 {
    margin-top: 139px;
}

.pl-45 {
    padding-left: 45px;
}

.pl-26 {
    padding-left: 26px;
}

.pt-55 {
    padding-top: 55px;
}

.pb-60 {
    padding-bottom: 60px;
}

.mt-128 {
    margin-top: 128px;
}

.mb-128 {
    margin-bottom: 128px;
}

.mb-114 {
    margin-bottom: 114px;
}

.mb-64 {
    margin-bottom: 64px;
}

.mb-25 {
    margin-bottom: 25px;
}

.page-logo {
    width: 100%;
}

.bg-img {
    background-image: url(../img/png/bg-img.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.navbar-link {
    transition: color 0.3s ease-in-out;
}

.navbar-link:hover {
    color: var(--color-yellow) !important;
}

.cursor-pointer {
    cursor: pointer;
}

.content {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.boxly {
    bottom: 0;
    left: 0%;
    pointer-events: none;
    opacity: 0;
    animation: slideUpDown 2s ease-in-out infinite alternate;
}

@keyframes slideUpDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(30px);
    }
}


.btn {
    border-radius: 47px;
    padding: 21px 51px;
    border: 2px solid var(--color-white) !important;
    transition: all 0.4s ease-in-out;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.4);
    color: var(--color-black) !important;
    border: 2px solid var(--color-white) !important;
}

/* section */
.btn-2 {
    padding: 19px 45px;
    border-radius: 47px;
    border: 2px solid var(--color-red);
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}

.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-2:hover {
    color: var(--color-white) !important;
    background: var(--color-red) !important;
}

/* video */
.iframe-video {
    max-width: 1064px !important;
    width: 100%;
    min-height: 580px;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
}

.video-box {
    max-width: 372px;
    background: var(--color-yellow-2);
    padding: 20px;
    top: 24px;
    left: 29px;
}

/* card */
.mx-w-277 {
    max-width: 277px;
}

.rbg-box:hover {
    transform: translateY(5px);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.kickbox {
    max-width: 323px;
    border-radius: 28px;
    border: 1px solid var(--color-black);
    padding: 32px 20px 19px 26px;
}

.red-card:hover {
    border: 1px solid var(--color-red);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.blue-card:hover {
    border: 1px solid var(--color-blue);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.yellow-card:hover {
    border: 1px solid var(--color-yellow-2);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.red-card:hover~.rbg-btn:hover {
    background: var(--color-white) !important;
    color: var(--color-red) !important;
    border: 2px solid var(--color-red) !important;
}

.blue-card:hover~.rbg-btn:hover {
    background: var(--color-blue) !important;
}

.yellow-card:hover~.rbg-btn:hover {
    background: var(--color-yellow-2) !important;
}

.mt-48 {
    margin-top: 48px;
}

.mt-39 {
    margin-top: 39px;
}

.slider-btn {
    padding: 19px 45px;
    border-radius: 47px;
    border: 2px solid var(--color-red);
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}

.arrow {
    top: 50%;
    left: 0%;
}

.arrow-2 {
    right: 0;
    top: 50%;
}

/* 3-card */
.box-2 {
    width: 323px;
    border-radius: 28px;
    border: 1px solid var(--color-black);
    transition: all 300ms linear;
}

.blue-box {
    width: 104px;
    height: 27px;
    border-radius: 13.5px;
    top: 18px;
    left: 16px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.box-2:hover .blue-box {
    opacity: 1;
}

.card-1:hover {
    transform: scale(1.06);
    border: 1px solid var(--color-blue);
}

.card-2:hover {
    transform: scale(1.06);
    border: 1px solid var(--color-yellow-2);
}

.images {
    height: 208px;
}

/* faq */
.faq .accordion {
    max-width: 1087px;
    --bs-accordion-border-color: none !important;
    --bs-accordion-btn-focus-box-shadow: none !important;
}

.faq .accordion-button:not(.collapsed) {
    color: var(--color-light-white) !important;
    background-color: var(--color-light-white) !important;
}

.mb-146 {
    margin-bottom: 146px;
}

.faq .accordion-button {
    padding-left: 0;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-right: 15px;
}

.faq .accordion-body {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 21px;
}

.faq .accordion-button::after {
    background-image: url(../img/svg/faq-arrow.svg) !important;
    margin-top: 14px;
}

.mt-10 {
    margin-top: 10px;
}

.line {
    border: 1px solid #9DA1A2;
}

.faq .accordion-button:not(.collapsed)::after {
    transform: rotate(90deg) !important;
    margin-top: 0px;
}

/* footer */
.fs-10 {
    font-size: 10px;
}

.fs-14 {
    font-size: 14px;
}

.lh-12 {
    line-height: 12.57px;
}

.mt-44 {
    margin-top: 44px;
}

.fw-900 {
    font-weight: 900;
}

.pt-138 {
    padding-top: 138px;
}

.pb-65 {
    padding-bottom: 65px;
}

.email-input {
    max-width: 273px;
    height: 50px;
    padding-left: 19px;
    padding-right: 19px;
}

.email-input:focus,
.footer-about:focus {
    border: 2px solid var(--color-red) !important;
    outline: none;
}

.footer-about {
    padding-bottom: 87px;
    padding-left: 19px;
    padding-top: 18px;
    max-width: 273px;
}

.footer-btn {
    width: 96px;
    height: 34px;
    transition: all 300ms linear;
}

.footer-btn:hover {
    background-color: var(--color-white) !important;
    color: var(--color-black) !important;
}

.footer-link {
    transition: all 300ms linear;
}

.footer-link:hover {
    color: var(--color-red) !important;
}

/* my-btn */
.myBtn {
    display: none;
    bottom: 15px;
    right: 15px;
    /* outline: none; */
    background-color: white;
    border: 2px solid red;
    color: red;
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 10;
    border-radius: 50%;
}

/* nav */
.main-heading-box {
    transition: all 200ms linear;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    background: var(--color-yellow) !important;
    position: relative;
}

.rotate40 {
    transform: rotate(40deg);
}

.rotate-45 {
    transform: rotate(-43deg);
}

.bg-transparent {
    opacity: 0;
}

@media (max-width:1275.98px) {
    .max-w-562 {
        max-width: 150px;
    }

    .btn {
        z-index: 3;
    }
}

@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        backdrop-filter: blur(90px);
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 400ms linear !important;
        z-index: 5;
    }

    .mb-128 {
        margin-bottom: 10px;
    }

    .show-navbar {
        right: 0 !important;
    }

    .mt-139 {
        margin-top: 70px;
    }

    .lh-80 {
        line-height: 70px;
    }

    .max-w-562 {
        max-width: 100px;
    }

    .page-logo {
        width: 80%;
    }

    .gap-74 {
        gap: 60px;
    }

    .iframe-video {
        min-height: 400px;
    }
}

@media (max-width:767.98px) {

    .lh-80 {
        line-height: 50px;
    }

    .mb-146 {
        margin-bottom: 46px;
    }

    .mt-128 {
        margin-top: 28px;
    }

    .lh-61 {
        line-height: 40px;
    }

    .pb-65 {
        padding-bottom: 5px;
    }

    .pt-138 {
        padding-top: 38px;
    }

    .mb-64 {
        margin-bottom: 20px;
    }

    .page-logo {
        width: 70%;
    }

    .mt-139 {
        margin-top: 20px;
    }

    .mb-114 {
        margin-bottom: 40px;
    }

    .mb-130 {
        margin-bottom: 30px;
    }

    .gap-74 {
        gap: 50px;
    }

    .iframe-video {
        min-height: 300px;
    }
}

@media (max-width:575.98px) {
    .btn {
        padding: 20px 20px;
    }

    .lh-40 {
        line-height: 25px;
    }

    .mt-57 {
        margin-top: 20px;
    }

    .backdrop {
        padding: 10px;
        backdrop-filter: blur(3px) !important;
    }

    .slider-btn {
        width: 100%;
        padding: 10px 12px;
    }

    .gap-74 {
        gap: 40px;
    }