@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url(./root.css);


.max-w-1177 {
    max-width: 1177px !important;
}

.max-w-1138 {
    max-width: 1138px !important;
}

.max-w-1090 {
    max-width: 1090px;
}

.max-w-1409 {
    max-width: 1409px !important;
}

.mx-w-277 {
    max-width: 277px;
}

.nav-shadow {
    box-shadow: 0px 4px 8px 0px var(--shadow) !important;
}

.fw-300 {
    font-weight: 300;
}

.lh-20 {
    line-height: 20.11px;
}

.lh-21 {
    line-height: 21px;
}

.lh-27 {
    line-height: 27px;
}

.lh-44 {
    line-height: 44px;
}

.lh-61 {
    line-height: 61.59px;
}

.lh-80 {
    line-height: 80px;
}

.lh-100 {
    line-height: 100.56px;
}

.gap-24 {
    gap: 24px;
}

.gap-38 {
    gap: 38px;
}

.gap-74 {
    gap: 74px;
}

.py-16 {
    padding-top: 16px;
    padding-bottom: 15px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-48 {
    margin-top: 48px;
}

.mt-39 {
    margin-top: 39px;
}

.mt-139 {
    margin-top: 139px;
}

.mt-128 {
    margin-top: 128px;
}

.mb-128 {
    margin-bottom: 128px;
}

.mb-114 {
    margin-bottom: 114px;
}

.mb-64 {
    margin-bottom: 64px;
}

.page-logo {
    width: 100%;
}

.bg-img {
    background-image: url(../img/png/bg-img.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.navbar-link {
    transition: color 0.3s ease-in-out;
}

.navbar-link:hover {
    color: var(--color-yellow) !important;
}

.cursor-pointer {
    cursor: pointer;
}

.content {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.boxly {
    bottom: 0;
    left: 0%;
    pointer-events: none;
    opacity: 0;
    animation: slideUpDown 2s ease-in-out infinite alternate;
}

@keyframes slideUpDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(30px);
    }
}


.btn {
    border-radius: 47px;
    padding: 21px 51px;
    border: 2px solid var(--color-white) !important;
    transition: all 0.4s ease-in-out;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.4);
    color: var(--color-black) !important;
    border: 2px solid var(--color-red) !important;
    transform: scale(1.05);
}

/* section */
.btn-2 {
    padding: 19px 45px;
    border-radius: 47px;
    border: 2px solid var(--color-red);
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}

.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-2:hover {
    color: var(--color-black) !important;
    border: 2px solid var(--color-black);
    transform: scale(1.05);
    background: var(--color-yellow) !important;
}

/* video */
.iframe-video {
    max-width: 1064px !important;
    width: 100%;
    min-height: 580px;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
}

.video-box {
    max-width: 372px;
    background: var(--color-yellow-2);
    padding: 20px;
    top: 24px;
    left: 29px;
}

/* card */
.mx-w-277 {
    max-width: 277px;
}

.rbg-box:hover {
    transform: translateY(5px);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.kickbox {
    max-width: 323px;
    border-radius: 28px;
    border: 1px solid var(--color-black);
    padding: 32px 20px 19px 26px;
}

/* -------red-btn------ */
.section-4-start-btn {
    width: 268px;
    height: 56px;
    border: 2px solid var(--color-red);
    border-radius: 47px;
    background-color: var(--color-white);
    color: var(--color-red);
    opacity: 0;
    pointer-events: none;
    transition: all 200ms linear;
}

.kick-card:hover .section-4-start-btn {
    opacity: 100%;
    pointer-events: visible;
}

.section-4-start-btn:hover {
    background-color: var(--color-red);
    color: var(--color-white);
}

/* -------blue-btn------ */

.section-4-start-blue-btn {
    width: 268px;
    height: 56px;
    border: 2px solid var(--color-blue);
    border-radius: 47px;
    background-color: var(--color-white);
    color: var(--color-blue);
    opacity: 0;
    pointer-events: none;
    transition: all 200ms linear;
}

.section-4-start-blue-btn:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
}


.kick-card:hover .section-4-start-blue-btn {
    opacity: 100%;
    pointer-events: visible;
}

/* -------yellow-btn------ */
.section-4-start-yellow-btn {
    width: 268px;
    height: 56px;
    border: 2px solid var(--color-yellow-2);
    border-radius: 47px;
    background-color: var(--color-white);
    color: var(--color-yellow-2);
    opacity: 0;
    pointer-events: none;
    transition: all 200ms linear;
}

.section-4-start-yellow-btn:hover {
    background-color: var(--color-yellow-2);
    color: var(--color-white);
}

.kick-card:hover .section-4-start-yellow-btn {
    opacity: 100%;
    pointer-events: visible;
}

.mt-48 {
    margin-top: 48px;
}

.mt-39 {
    margin-top: 39px;
}

.main-heading-box {
    transition: all 200ms linear;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    background: var(--color-yellow) !important;
    position: relative;
}

.rotate40 {
    transform: rotate(40deg);
}

.rotate-45 {
    transform: rotate(-43deg);
}

.bg-transparent {
    opacity: 0;
}

@media (max-width:1275.98px) {
    .max-w-562 {
        max-width: 150px;
    }

    .btn {
        z-index: 3;
    }
}

@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        backdrop-filter: blur(90px);
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 400ms linear !important;
        z-index: 5;
    }

    .mb-128 {
        margin-bottom: 10px;
    }

    .show-navbar {
        right: 0 !important;
    }

    .mt-139 {
        margin-top: 70px;
    }

    .lh-80 {
        line-height: 70px;
    }

    .max-w-562 {
        max-width: 100px;
    }

    .page-logo {
        width: 80%;
    }

    .gap-74 {
        gap: 60px;
    }

    .iframe-video {
        min-height: 400px;
    }
}

@media (max-width:767.98px) {

    .lh-80 {
        line-height: 50px;
    }

    .mb-64 {
        margin-bottom: 20px;
    }

    .page-logo {
        width: 70%;
    }

    .mt-139 {
        margin-top: 20px;
    }

    .gap-74 {
        gap: 50px;
    }

    .iframe-video {
        min-height: 300px;
    }
}

@media (max-width:575.98px) {
    .btn {
        padding: 20px 20px;
    }

    .backdrop {
        padding: 10px;
        backdrop-filter: blur(3px) !important;
    }

    .gap-74 {
        gap: 40px;
    }
}